.primary-color {
    color: #11009E;
}

.primary-btn {
    background-color: #11009E;
    border: none;
    color: white;
}

.primary-btn:hover {
    /* background-color: rgb(1, 1, 77); */
    color: yellow;
}

.white-btn {
    background-color: white;
    border: #11009E 1px solid;
    color: #11009E;
    transition: 0.4s;
}

.white-btn:hover {
    background-color: #11009E;
    color: yellow
}


.login-divider {
    width: 40%;
}