.navbar {
    background-color: #11009E;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: yellow;
}

.theme-btn {
    color: white;
}

.theme-btn:hover {
    color: yellow;
}

.header-btn {
    background-color: rgb(59, 59, 199);
    color: aliceblue;
    border: none;
}

.header-btn:hover {
    /* background-color: rgb(37, 37, 224); */
    color: yellow;
}