.navbar {
    background-color: #11009E;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: yellow;
}

.sun-btn {
    color: rgb(255, 180, 5)
}

.moon-btn {
    color: lightcyan;
}

.sun-btn:hover,
.moon-btn:hover {
    color: yellow;
}

.header-btn {
    background-color: rgb(59, 59, 199);
    color: aliceblue;
    border: none;
}

.header-btn:hover {
    /* background-color: rgb(37, 37, 224); */
    color: yellow;
}

.lightblue {
    color: lightblue;
}