.edit-btn {
    border: 1px solid #11009E;
    color: #11009E;
    transition: 0.4s;
    width: 15%;
    margin-top: 10px;
}

.edit-btn:hover {
    background-color: rgb(59, 59, 199);
    color: white;
}


.large-btn {
    width: 20%
}

@media screen and (max-width:800px) {
    .edit-btn {
        width: 35%;
    }

    .large-btn {
        width: 50%;
    }

}